{% extends "base.html" %}
{% load static %}
{% block title%}
Virma-Physio | Home
{% endblock title%}
{% block content %}
    <div class="container">
       
        <h2></h2>
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="{% static 'home2.jpg' %}">
            </div>
            <div class="col">
                <div class="col">
                    <p> physiotherapy, is a healthcare profession, as well as the care provided by physical therapists who promote, maintain, or restore health through patient education, physical intervention, disease prevention, and health promotion. Physical therapist is the term used for such professionals in the United States, and physiotherapist is the term used in many other countries.</p>
                </div>
                <div class="col">
                    <p>Physical therapy is a professional career that has many specialties including musculoskeletal, orthopedics, cardiopulmonary, neurology, endocrinology, sports medicine, geriatrics, pediatrics, women's health, wound care and electromyography. Neurological rehabilitation is, in particular, a rapidly emerging field. PTs practice in many settings, such as privately-owned physical therapy clinics, outpatient clinics or offices, health and wellness clinics, rehabilitation hospital facilities, skilled nursing facilities, extended care facilities, private homes, education and research centers, schools, hospices, industrial and these workplaces or other occupational environments, fitness centers and sports training facilities.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">

                </div>
                <div class="col">
                <img class="img-fluid" src="{% static 'home3.jpg' %}">

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="img-fluid" src="{% static 'create.jpg' %}">
                </div>
            </div>
            
        </div>
    </div>
    {% endblock %}