{% extends 'base.html'%}
{% load static %}
{% block content%}
<h2 class="page-header text-primary text-center p-2">View Patient Details</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Contact No</th>
            <th>History</th>
            <th>Pain</th>
            <th>Duration</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    
        {% for data in data %}
        <tbody>
            <tr>
                <td>{{forloop.counter}}</td>
                <!-- <td>{{data.Id}}</td> -->
                <td>{{data.Date}}</td>
                <td>{{data.Name}}</td>
                <td>{{data.Age}}</td>
                <td>{{data.Gender}}</td>
                <td>{{data.Address}}</td>
                <td>{{data.Contactno}}</td>
                <td>{{data.History}}</td>
                <td>{{data.Pain}}</td>
                <td>{{data.Duration}}</td>
                <td><a class="btn btn-success" href="update">Update</a></td>
            </tr>
        </tbody>
    {% endfor %}
  
</table>
{% endblock %}