{% extends 'base.html'%}
{% load static %}

{% block title%}
Virma-Physio | View Patient Details
{% endblock title%}

{% block content%}
<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">Patient Details</h4>
                <hr style="border-color:#b8bfc2;">
        
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Contact No</th>
                    <th>History</th>
                    <th>Pain</th>
                    <th>Duration</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                {% for data in data %}
            <tr>

                <td>{{forloop.counter}}</td>
                <!-- <td>{{data.Id}}</td> -->
                <td>{{data.Date}}</td>
                <td>{{data.Name}}</td>
                <td>{{data.Age}}</td>
                <td>{{data.Gender}}</td>
                <td>{{data.Address}}</td>
                <td>{{data.Contactno}}</td>
                <td>{{data.History}}</td>
                <td>{{data.Pain}}</td>
                <td>{{data.Duration}}</td>
                <td><a class="btn btn-success" href="{% url 'update' data.id %}">Update</a></td>
                <td><a href="{% url 'Delete' data.id %}" onclick="return confirm('Are you sure? to Remove')" class="btn btn-danger btn-sm"><i class="fa fa-trash">Remove</a></td>
            </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>

{% endblock %}